// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*--------------------------------------------------
  Global
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: $white;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

/*--------------------------------------------------
  Navbar
-------------------------------------------------- */
nav.navbar {
  background-color: $black;
}

nav.navbar.navbar-light .navbar-nav a.nav-link,
nav.navbar.navbar-light .navbar-brand {
  color: $gray-200;
}

.navbar-light .navbar-toggler {
  background: $gray-200;
  border-color: $gray-700;
}

/*--------------------------------------------------
  Server list
-------------------------------------------------- */
#accordion .card-header button:hover {
  text-decoration: none;
}


/*--------------------------------------------------
  Sticky footer
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $black;
  color: $white;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
